$height_site: 100vh;
$width_site: 100vw;
$font_family: 'Nunito', sans-serif;
$color_1: #FF9F00;
$color_2: #2E4960;
$color_text_1: white;
$color_border: rgb(164, 164, 164);
$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$opacity_pale: 0.5;
$bxbb: border-box;
$border_radius: 10px;