@import 'vars';

* {
    margin: 0;
    padding: 0;
    font-family: $font_family;
}

img {
    max-width: 100%;
    height: auto;
}

svg{
    max-height: 100%;
}

.wrapper {
    min-height: $height_site;
    display: flex;
    flex-direction: column;
}

.top {
    flex-grow: 1;
}


.header {
    height: 12vh;
    width: $width_site;
    background-color: $color_1;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: $box-shadow;
    border-radius: 0px 0px 10px 10px;

    &__right{
        position: absolute;
        display: flex;
        left: 50px;
        width: 30%;
        justify-content: space-evenly;
        align-items: center;
    }

    &__button{
        height: 8vh;
    }

}

.logo {
    a {
        width: 213px;
        height: 71px;
    }
    display:flex;

    &:hover {
        cursor: pointer;
    }
}

.buttons {
    position: absolute;
    display: flex;
    right: 50px;
    width: 30%;
    justify-content: space-evenly;

    &__pets {
        margin-top: 0px;
        align-items: center;
        margin-top: 0px;
        position: unset;
        width: 90%;
        height: 90%;
        justify-self: center;
        grid-area: 2/1/span 2/span 2;
        font-size: 14px;

        .button{
            //these buttons are on animal cards
            width: 42%;
            height: 80%;
            font-size: 13px;
        }


    }
}

.button {
    min-width: fit-content;
    width: 128px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    color: $color_text_1;
    background: $color_2;
    border-radius: 10px;
    border: 0;
    //in buttons__button
    // do not delete!! in base.html 49 pets.button


    &.adopt{
        min-width: fit-content;
    }

    &__quiz{
        width: 70%;
        height: 30%;
    }

    a {
        text-decoration: none;
        color: $color_text_1;
    }
}

.button:hover {
    cursor: pointer;
    border: 2px solid $color_text_1;
}

.mainBody {
    height: 88vh;
    display: flex;
    position: relative;

    &_catalogue{
        justify-content: center;
    }

    &__info{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 5px;
    }
}

.bgi {
    background-repeat: repeat-x;
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    object-fit: cover;

    &.pale {
        opacity: $opacity_pale;
    }

    &.pets {
        z-index: 0;
        width: 20%;
    }
}

.input_wrapper {
    position: absolute;
    left: 30vw;
    top: 40vh;
    width: 40%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
}

.input_text {
    background: $color_text_1;
    border-radius: 36px;
    width: 80%;
    height: 100%;
    font-size: 14px;
    line-height: 20px;
    color: rgb(141, 150, 159);
    border-width: 0px;
    border-style: none;
    outline: none;
    padding-left: 18px;
    position: absolute;
    left: 4vw;
    box-shadow: $box-shadow;
}

.input_pic {
    background-repeat: no-repeat;
    position: absolute;
    width: 9%;
    height: auto;
    object-fit: contain;
}

.search {
    margin-left: 40%;
    margin-top: 8vh;
    position: absolute;
    border-radius: 50px;
}

.footer {
    height: 12vh;
    width: $width_site;
    background-color: $color_2;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    z-index: 3;

    &__right{
        position: absolute;
        display: flex;
        left: 50px;
        width: 30%;
        justify-content: flex-start;;
        align-items: center;
    }

    &__up{
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background-color: $color_1;
        position: absolute;
        display: flex;
        right: 50px;
        align-items: center;
        justify-content: center;

        a {
            text-decoration: none;
            color: $color_2;
            font-size: 20px;
            font-weight: bold;
        }
    }
    
}

.form-wrap {
    position: absolute;
    width: 30%;
    height: 90%;
    left: 15vw;
    top: 4vh;
    border: 1px solid $color_border;
    border-radius: 20px;
    box-shadow: $box-shadow;
    display: flex;
    overflow: scroll;

    &.login {
        height: 50%;
        left: 15vw;
        top: 15vh;
    }

    &.quiz{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 15px;
        box-sizing: $bxbb;
        position: unset;
        height: 40%;
        width: 75%;
        gap: 5vh;

        h2{
            max-height: 90%;
            font-size: 4vh;
            overflow: scroll;
            min-height: 90%;
        }
    }
}

.intro{
    padding: 25px;
    box-sizing: $bxbb;
    font-size: 20px;
    line-height: 1.5;
    height: 40%;
    width: 75%;
    margin-bottom: 10px;
    overflow: scroll;
    text-align: justify;
}

.question{
    width: 90%;
    height: 90%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: -25vh;

    ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 8px;
        font-size: 120%;
        margin-top: 5%;
        max-height: 70%;

        li{
            display: flex;
            box-sizing: $bxbb;
            height: 20%;
            padding: 10px;
            align-items: center;

            &:hover{
                cursor: pointer;
                box-shadow: $box-shadow;
                border-radius: $border_radius;
            }
        }
    }
}

.go-to-favs{
    text-decoration: underline;

    &:hover{
        cursor: pointer;
        color:$color_1;
    }
}

.form-container {
    width: 70%;
    height: 90%;
    left: 7%;
    top: 5%;
    position: absolute;

    button{
        height: 5vh;
    }

    .input_text {
        height: 7%;
        left: 0vw;
    }

    &.login {
        height: 100%;
    }
}

.form-data {
    margin-bottom: 3vh;

    button {
        margin-bottom: 2vh;
    }

    .sex{
        margin-top: 1vh;
        gap: 3vw;
    }

}

.form-data.login {
    margin-top: 1vh;

    .input_text {
        margin-top: 1vh;
        height: 10%;
    }
}

#orange {
    accent-color: $color_1;
}

.filter {
    text-align: center;
    height: 100%;
    width: 15%;
    background-color: transparent;
    border: 1px solid grey;
    // opacity: $opacity_pale;
    box-shadow: $box-shadow;
    border-radius: $border_radius;
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-sizing: $bxbb;
    gap: 5px;
    align-items: center;
    padding-top: 45px;

    a{
        text-decoration: none;
        width: 80%;
        text-align: center;
        color: $color_2;
        font-size: 25px;

        &:hover{
            box-shadow: $box-shadow;
            border-radius: $border_radius;
            color: $color_1;
        }
    }
}

.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    list-style: none;
    border: 1px solid $color_border;
    border-radius: 20px;
    box-shadow: $box-shadow;
    height: 5vh;
    width: 25vw;
    align-self: center;
    background-color: rgba(152, 152, 152, 0.995);
    margin-bottom: 2vh;

    a{
        color:$color_2;
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    .disabled{
        opacity: $opacity_pale;
    }
}

.photo {
    display: flex;
    border-radius: 20px;
    width: 45%;
    height: 95%;
    margin-left: 0%;
}

.photo img {
    border-radius: 20px;
    max-height: 100%;
    object-fit: cover;
}

.sex,
.age,
.character {
    display: flex;
    align-items: center;

    & img {
        margin-bottom: 6%;
    }
}

.cards-pages-box{
    display: flex;
    flex-direction: column;
    width: 85vw;

    &__cards{
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        flex-wrap: wrap;
        overflow: scroll;
        box-sizing: $bxbb;
        padding-left: 3vw;
        padding-right: 3vw;
        padding-top: 2vh;
        justify-content: flex-start;

        .card {
            width: unset;
            min-width: 25vw;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: minmax(0, 3fr) minmax(0, 1fr);
            max-width: 30%;
            height: 40%;
            padding: 0;
            background-color: $color_text_1;
            margin: 5px;
            overflow: scroll;
            border: 1px solid $color_border;
            border-radius: 20px;
            box-shadow: $box-shadow;
        
            &:hover {
                cursor: pointer;
            }

            &__allinfo {
                grid-area: 1/1/1/span 2;
                justify-content: space-around;
                display: flex;
                margin: 5%;
                height: 90%;

                &__info {
                    display: flex;
                    flex-direction: column;
                    overflow: scroll;
                }
            }

            .details{
                position: absolute;
                top: 0vh;
                left: 0vh;
                width: 80vw;
                height: 75vh;
                background-color: $color_text_1;
                overflow: scroll;
                gap: 5px;
                border: 1px solid $color_border;
                border-radius: calc(10px + $border_radius);
                box-shadow: $box-shadow;
                img{
                    width: 50%;
                    object-fit: cover;
                }

                .fakeText{
                    text-align: justify;
                    padding: 25px;
                    overflow: scroll;
                    width: 100%;
                }
            
                .detailed-info{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    padding: 10px;
                    box-sizing: $bxbb;
            
                    .buttons__pets{
                        height: 10vh;
                    }
                }
            }
        }
    }

}

.fav-empty{
    width: 85vw;
    align-self: center;
    text-align: center;
    font-size: 5vh;
}

.burger-tablet-mobile{
    display: none;
    right: 10px;
    width: 10vw;
    height: 10vw;
    position: absolute;
}

@media (max-width: 899px) {
    .cards-pages-box{

        &__cards{
            justify-content: flex-start;

            .card{
                min-width: 35vw;
            }
        }
    }
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 75vh;

    .fakeImg{
        width: 60%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            max-height: 100%;
            border-radius: 20px;
            box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
}


@media (max-width: 768px) {
    .wrapper, .header, .mainBody, .footer, .form-wrap, .details, .cards-pages-box {
        width: 100vw;
    }
    
    .input_wrapper, .form-container, .question, .intro, .filter {
        width: 70%;
        left: 15%;
    }

    .cards-pages-box{
        height: 80vh;
        justify-content: center;
        align-items: center;

        &__cards{
            width: 100vw;

            .card {
                min-width: 90vw;
                min-height: 68vh;
                max-width: 40vw;
        
                &__allinfo{
                    align-items: center;
                    margin-top: 0;
                    margin-bottom: 0;
                    flex-direction: row;

                    &__info{
                        align-items: flex-start;
                        margin-top: 0;
                        width: 30%;
                        height: 100%;
                        justify-content: space-evenly;
                        font-size: x-large;
                    }
                }
        
                .photo {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: 50%;
                }

                .details{
                    max-width: 95vw;
                    max-height: 72vh;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: fixed;
                    top: 20vh;
                    z-index: 2;
            
                    .largePhoto{
                        max-width: unset;
                        max-height: 60%;
                        border-radius: 20px;
                    }
                }
            }
        }

    }

    .buttons {
        width: 50%;
    }

    .header{
        &__right{
            width: 50%;
            left: 0;
        }
    }

    .buttons{
        gap: 2vw;
        right: 0;
        left: unset;
        justify-content: center;

        &__button{
            width: 100px;
            font-size: 13px;
        }
    }

    .logo{
        min-width: 25vw;
    }

    .button, .buttons.pets button {
        width: 100px;
        font-size: 13px;
    }

    .buttons.pets{
        min-height: 5vh;
        margin-top: -1vh;
    }

    .mainBody__info {
        flex-direction: column;
        align-items: center;
        width: 60%
    }

    .photo img {
        max-height: 80%;
    }

    .input_text {
        width: 85%;
        left: 7.5%;
    }

    .quiz{
        font-size: 2vh;

        .button__quiz{
            width: 20vw;
        }

        .question{
            margin-top: -10vh;
        }
    }

    .filter{
        display: flex;
        flex-direction: row;
        position: sticky;
        height: 10vh;
        z-index: 2;
        background-color: aliceblue;
        opacity: 1;
        align-self: flex-end;
        padding: 5px;
        align-items: center;
        justify-content: space-evenly;
        
        &.small{
            font-size: small;
        }

        a{
            font-size: larger;
        }
    }

    .pages{
        width: 55vw;
    }

    .mainBody{
        .form-wrap.login{
            width: 75vw;
            height: 45vh;
        }

        .register{
            width: 75vw;
            height: 70vh;
            top: 10vh;
        }

        &_catalogue{
            flex-direction: column;
            max-height: 100vh;
            justify-content: unset;
            align-items: center;
        }
    }
}

@media (max-width: 480px) {
    .wrapper, .header, .mainBody, .footer, .form-wrap, .details, .cards-pages-box {
        width: 100vw;
    }

    .input_wrapper, .form-container, .question, .intro, .filter {
        width: 90%;
        left: 5%;
    }

    .buttons{
        width: 70%;
    }

    .buttons{
        justify-content: flex-end;
        right: 10vw;

        &__button{
            width: 80px;
            font-size: 12px;
        }
    }

    .logo{
        min-width: 40vw;

        &_mobile-display-none{
            display: none;
        }
    }

    .header{
        &__right{
            left: -15vw;
            width: 70%;
        }
    }

    .button, .buttons.pets button {
        width: 80px;
        font-size: 12px;
        //in buttons__button
    }

    .mainBody{

        &__info{
            width: 90vw;
            flex-direction: column;
            align-items: center;

            .question{
                height: unset;
            }

            .quiz{
                h2{
                    font-size: 3vh;
                }
            }

            .intro{
                width: 60vw
            }
        }

        .button__quiz{
            width: 70%;
        }

        .fav-empty{
            margin-top: 7vh;
        }
    }

    .photo {
        width: 90%;
        margin: auto;
    }

    .photo img {
        max-height: 90%;
    }

    .input_text {
        width: 95%;
        left: 2.5%;
    }

    .cards-pages-box{
        &__cards{
            width: 100vw;
            justify-content: center;

            .card {
                min-width: 80vw;
                max-width: 80vw;

                &__allinfo{
                    flex-direction: column !important;
            
                    &__info{
                        width: 90%;
                    }
                }

                .buttons{
                    height: 50%;
                    align-self: center;

                    .button{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
