img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.top {
  flex-grow: 1;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
  font-family: "Nunito", sans-serif;
}

.header {
  height: 12vh;
  width: 100vw;
  background-color: #FF9F00;
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 10px 10px;
}

.logo {
  background-image: url("/static/img/FTLogo.svg");
  background-repeat: no-repeat;
  width: 213px;
  height: 71px;
  left: 43px;
  top: 18px;
  display: flex;
}

.logo a {
  width: 213px;
  height: 71px;
}

.logo.dark {
  background-image: url("/static/img/FTLogoDark.svg");
}

.logo:hover {
  cursor: pointer;
}

.right {
  position: absolute;
  display: flex;
  left: 50px;
  width: 30%;
  justify-content: space-evenly;
  align-items: center;
}

.buttons {
  position: absolute;
  display: flex;
  right: 50px;
  width: 30%;
  justify-content: space-evenly;
}

.buttons.pets {
  margin-top: 0px;
  align-items: center;
  margin-top: 0px;
  position: unset;
  width: 90%;
  justify-self: center;
  grid-area: 2/1/span 2/span 2;
}

.buttons.pets button {
  width: 45%;
  height: 60%;
  font-size: 14px;
}

.button {
  font-family: Nunito;
  width: 128px;
  height: 47px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  color: white;
  background: #2E4960;
  border-radius: 10px;
  border: 0;
}

.button__quiz {
  width: 70%;
  height: 30%;
  font-size: 135%;
}

.button a {
  text-decoration: none;
  color: white;
}

.button:hover {
  cursor: pointer;
  border: 2px solid white;
}

.mainBody {
  height: 88vh;
  display: flex;
  position: relative;
}

.mainBody__info {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
}

.bgi {
  background-repeat: repeat-x;
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
}

.bgi.pale {
  opacity: 0.5;
}

.bgi.pets {
  z-index: 0;
  width: 20%;
}

.input_wrapper {
  position: absolute;
  left: 30vw;
  top: 40vh;
  width: 40%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
}

.input_text {
  background: white;
  border-radius: 36px;
  width: 80%;
  height: 100%;
  font-size: 14px;
  line-height: 20px;
  color: rgb(141, 150, 159);
  border-width: 0px;
  border-style: none;
  outline: none;
  padding-left: 18px;
  position: absolute;
  left: 4vw;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input_pic {
  background-repeat: no-repeat;
  position: absolute;
  width: 9%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.search {
  margin-left: 40%;
  margin-top: 8vh;
  position: absolute;
  border-radius: 50px;
}

.footer {
  height: 12vh;
  width: 100vw;
  background-color: #2E4960;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
}

.up {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #FF9F00;
  position: absolute;
  display: flex;
  right: 50px;
  align-items: center;
}

.up a {
  text-decoration: none;
  color: #2E4960;
  padding: 39%;
  font-size: 20px;
  font-weight: bold;
}

.form_wrap {
  position: absolute;
  width: 30%;
  height: 90%;
  left: 15vw;
  top: 4vh;
  border: 1px solid rgb(164, 164, 164);
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  overflow: scroll;
}

.form_wrap h1 {
  font-size: 50;
}

.form_wrap.login {
  height: 50%;
  left: 15vw;
  top: 15vh;
}

.form_wrap.quiz {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px;
  box-sizing: border-box;
  position: unset;
  height: 40%;
  width: 75%;
}

.intro {
  padding: 25px;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 1.5;
  height: 40%;
  width: 75%;
  margin-bottom: 10px;
  overflow: scroll;
  text-align: justify;
}

.question {
  width: 90%;
  height: 90%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.question h3 {
  max-height: 20%;
}

.question ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 8px;
  font-size: 120%;
  margin-top: 5%;
  max-height: 70%;
}

.question ul li {
  display: flex;
  box-sizing: border-box;
  height: 20%;
  padding: 10px;
  align-items: center;
}

.question ul li:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 10px 10px;
}

.go-to-favs {
  text-decoration: underline;
}

.go-to-favs:hover {
  cursor: pointer;
  color: #FF9F00;
}

.form_container {
  width: 70%;
  height: 90%;
  left: 7%;
  top: 5%;
  position: absolute;
}

.form_container .input_text {
  height: 7%;
  left: 0vw;
}

.form_container.login {
  height: 100%;
}

.form_data {
  margin-bottom: 3vh;
}

.form_data button {
  margin-bottom: 2vh;
}

.form_data .sex {
  margin-top: 1vh;
  gap: 3vw;
}

.form_data.login {
  margin-top: 1vh;
}

.form_data.login .input_text {
  margin-top: 1vh;
  height: 10%;
}

#orange {
  accent-color: #FF9F00;
}

.filter {
  height: 100%;
  width: 15%;
  background-color: transparent;
  border: 1px solid grey;
  opacity: 0.5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-sizing: border-box;
  gap: 5px;
  align-items: center;
  padding-top: 45px;
}

.filter a {
  text-decoration: none;
  width: 80%;
  text-align: center;
  color: #16242f;
  font-size: 25px;
}

.filter a:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 10px 10px;
  color: #c37800;
}

.cards {
  width: 100%;
  margin-right: 3vw;
  height: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  overflow: scroll;
  margin-left: 3vw;
}

.card {
  width: unset;
  min-width: 25vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 30%;
  height: 40%;
  padding: 0;
  font-family: "Nunito", sans-serif;
  background-color: #fff;
  margin: 5px;
  overflow: scroll;
  border: 1px solid rgb(164, 164, 164);
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card:hover {
  cursor: pointer;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  list-style: none;
  border: 1px solid rgb(164, 164, 164);
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 5vh;
  width: 25vw;
  align-self: center;
  background-color: rgba(152, 152, 152, 0.995);
  margin-bottom: 2vh;
}

.pages a {
  color: #2E4960;
  text-decoration: none;
}

.photo {
  display: flex;
  border-radius: 20px;
  width: 45%;
  height: 95%;
  margin-left: 0%;
}

.photo img {
  border-radius: 20px;
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
}

.sex,
.age,
.character {
  display: flex;
  align-items: center;
}

.sex img,
.age img,
.character img {
  margin-bottom: 6%;
}

.allinfo {
  grid-area: 1/1/1/span 2;
  justify-content: space-around;
  display: flex;
  margin-left: 5%;
  margin-top: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.cards-pages-box {
  display: flex;
  flex-direction: column;
  width: 85vw;
}

.details {
  position: absolute;
  top: 0vh;
  left: 0vh;
  width: 80vw;
  height: 75vh;
  background-color: white;
  overflow: scroll;
  gap: 5px;
  border: 1px solid rgb(164, 164, 164);
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.details .fakeText {
  text-align: justify;
  padding: 25px;
  overflow: scroll;
}

.details .detailed-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details .detailed-info .buttons.pets {
  height: 10vh;
}

.fav-empty {
  width: 85vw;
  align-self: center;
  text-align: center;
  font-size: 5vh;
}

.burger-tablet-mobile {
  display: none;
  right: 10px;
  width: 10vw;
  height: 10vw;
  position: absolute;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

@media (max-width: 768px) {

  .wrapper,
  .header,
  .mainBody,
  .footer,
  .form_wrap,
  .cards,
  .details,
  .cards-pages-box {
    width: 100vw;
  }

  .input_wrapper,
  .form_container,
  .question,
  .intro,
  .filter {
    width: 70%;
    left: 15%;
  }

  .buttons,
  .right {
    width: 50%;
  }

  .right {
    left: 0;
  }

  .buttons {
    gap: 2vw;
    right: 0;
    left: unset;
    justify-content: center;
  }

  .logo {
    min-width: 25vw;
  }

  .button,
  .buttons.pets button {
    width: 100px;
    font-size: 13px;
  }

  .buttons.pets {
    min-height: 5vh;
    margin-top: -1vh;
  }

  .mainBody__info,
  .allinfo,
  .info {
    flex-direction: column;
    align-items: center;
  }

  .card {
    min-width: 40vw;
    max-width: 40vw;
    height: 50vh;
  }

  .card .allinfo {
    align-items: start;
    margin-top: 0;
    margin-bottom: 0;
  }

  .card .photo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
  }

  .card .info {
    align-items: flex-start;
    padding-left: 5vw;
    margin-top: -3vh;
  }

  .photo img {
    max-height: 80%;
  }

  .input_text {
    width: 85%;
    left: 7.5%;
  }

  .quiz {
    font-size: 2vh;
  }

  .quiz .button__quiz {
    width: 20vw;
    height: 20vh;
  }

  .quiz .question {
    gap: 5vh;
  }

  .burger-tablet-mobile {
    display: block;
  }

  .filter {
    display: none;
  }

  .pages {
    width: 55vw;
  }

  .details {
    max-width: 95vw;
    height: 80vh;
  }

  .mainBody .form_wrap.login {
    width: 75vw;
    height: 45vh;
  }

  .mainBody .register {
    width: 75vw;
    height: 70vh;
    top: 10vh;
  }
}

@media (max-width: 480px) {

  .wrapper,
  .header,
  .mainBody,
  .footer,
  .form_wrap,
  .cards,
  .details,
  .cards-pages-box {
    width: 100vw;
  }

  .input_wrapper,
  .form_container,
  .question,
  .intro,
  .filter {
    width: 90%;
    left: 5%;
  }

  .buttons,
  .right {
    width: 70%;
  }

  .buttons {
    justify-content: flex-end;
    right: 10vw;
  }

  .logo {
    min-width: 40vw;
  }

  .logo-mobile-display-none {
    display: none;
  }

  .right {
    left: -15vw;
  }

  .button,
  .buttons.pets button {
    width: 80px;
    font-size: 12px;
  }

  .mainBody__info {
    width: 90vw;
  }

  .mainBody .button__quiz {
    width: 70%;
  }

  .mainBody__info,
  .allinfo,
  .info {
    flex-direction: column;
    align-items: center;
  }

  .card {
    min-width: 80vw;
    max-width: 80vw;
    height: 50vh;
  }

  .photo {
    width: 90%;
    margin: auto;
  }

  .photo img {
    max-height: 90%;
  }

  .input_text {
    width: 95%;
    left: 2.5%;
  }

}

/*# sourceMappingURL=style.css.map */