{% extends 'catalogue/base.html' %}
{% load static humanize %}

{% block css %}
<link href="{% static 'img/TitleHomePage.png' %}" rel="shortcut icon" type="image/png">
{% endblock %}

{% block body %}
<div class="mainBody catalogue">
    <div class="filter small">
        <h2>Адрес приюта:</h2>
        <p>Lorem 123</p>
        <h2>Телефон:</h2>
        <p>123456789</p>
    </div>
    {% if favorites %}
        <div class="cards-pages-box">
            <div class="cards">
                {% for favorite in object_list %}
                    <div class="card">
                        <div class="allinfo">
                            <div class="photo">
                                {% if favorite.animal.image %}
                                    <img src="{{ favorite.animal.image.url }}" alt="Снежок" style="border-radius: 20px;">
                                {% else %}
                                    <img src="{% static 'img/animals_pics/scottish-fold-cat-wearing-red-bow-celebrating-christmas.jpg' %}"
                                    alt="Снежок" style="border-radius: 20px;">
                                {% endif %}

                            </div>
                            <div class="info">
                                <h3 class="name">{{ favorite.animal.name }}</h3>
                                <div class="sex"><img src="{% static 'img/FTpaw.svg' %}" alt="">{{ favorite.animal.sex }}</div>
                                <div class="age"><img src="{% static 'img/FTpaw.svg' %}" alt="">{{ favorite.animal.age }}</div>
                                <div class="character"><img src="{% static 'img/FTpaw.svg' %}" alt="">{{ favorite.animal.character }}</div>
                            </div>
                        </div>
                        <div class="buttons pets">
                            <button class="button adopt">Приютить</button>
                            <button class="button to_favorites"
                                    onclick="window.location.href = '{% url 'catalogue:favorites_remove' favorite.animal.id %}'">
                                Удалить
                            </button>
                        </div>
                        <!-- div for details and larger image -->
                        <div class="details" style="display: none;">
                            <img class="largePhoto" src="" alt="Enlarged Animal" style="max-width: 100%; height: auto;">
                            <div class="detailed-info">
                                <p class="fakeText">{{ favorite.animal.description }}</p>
                                <div class="buttons pets">
                                    <button class="button adopt">Приютить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if is_paginated %}
            <div class="pages">
                <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
                    <a class="page-link"
                    href="{% if page_obj.has_previous %} {% url 'users:paginator' page_obj.previous_page_number %} {% else %} # {% endif %}"
                    tabindex="-1" aria-disabled="true">
                        <!-- Предыдущая -->
                        <svg width="25" height="25" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                            <path d="M 30 10 L 20 25 L 30 40" stroke="#2E4960" stroke-width="5" stroke-linecap="round" fill="none"/>
                        </svg>
                    </a>
                </li>
                {% for page in paginator.page_range %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'users:paginator' page %}">
                        {{ page }}
                    </a>
                </li>
                {% endfor %}
                <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
                    <a class="page-link"
                    href="{% if page_obj.has_next %} {% url 'users:paginator' page_obj.next_page_number %} {% else %} # {% endif %}">
                        <!-- Следующая -->
                        <svg width="25" height="25" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                            <path d="M 20 10 L 30 25 L 20 40" stroke="#2E4960" stroke-width="5" stroke-linecap="round" fill="none"/>
                        </svg>
                    </a>
                </li>
            </div>
            {% endif %}
        </div>
        <img src="{% static 'img/FTBgi.png' %}" alt="" class="bgi pale">
    {% else %}
        <p class="fav-empty">Избранное пусто <br>
        Найти друга вы можете <a class="go-to-favs" onclick="window.location.href = '{% url 'catalogue:index' %}'">здесь</a>
        </p>
    {% endif %}
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.card').forEach(function(card) {
            console.log(card);
            card.addEventListener('click', function() {
                let detailsDiv = this.querySelector('.details');
                let largePhoto = detailsDiv.querySelector('.largePhoto');
                let descriptionParagraph = detailsDiv.querySelector('.fakeText');
                
                // Копируем src из маленького изображения в большое
                let smallPhotoSrc = this.querySelector('.photo img').src;
                largePhoto.src = smallPhotoSrc;

                // Переключаем отображение блока с деталями
                detailsDiv.style.display = detailsDiv.style.display === 'none' ? 'flex' : 'none';

                // Убираем загрузку текста из API, используем описание животного
                // descriptionParagraph.innerHTML уже содержит {{ animal.description }}

                detailsDiv.addEventListener('click', function(event) {
                    this.style.display = 'none';
                    event.stopPropagation(); // Предотвращаем всплытие события к карточке
                });
            });
        });
    });
</script>
{% endblock %}
