{% extends 'catalogue/base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'img/TitleHomePage.png' %}" rel="shortcut icon" type="image/png">
{% endblock %}

{% block body %}
<div class="mainBody">
    <form action="#" class="form_wrap login">

        <div class="form_container login">
            <div class="form_data login">
                <h1>Войти</h1>
            </div>
            <div class="form_data login">
                Имя пользователя <br>
                <input type="text" placeholder="Иван" class="input_text name"> <br>
            </div>
            <div class="form_data login">
                Пароль <br>
                <input type="password" placeholder="Введите пароль" class="input_text password"> <br>
            </div>
            <div class="form_data login" style="margin-top: 5vh;">
                <button type="submit" class="button">ОК</button>
                <button type="reset" class="button">Очистить</button><br>
            </div>
        </div>
    </form>
    <img src="{% static 'img/FTBgi.png' %}" alt="" class="bgi">
</div>
{% endblock %}