{% extends 'catalogue/base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'img/TitleHomePage.png' %}" rel="shortcut icon" type="image/png">
{% endblock %}

{% block body %}
<div class="mainBody">

    <form action="{% url 'users:login' %}" class="form_wrap login" method="post">
        {% csrf_token %}
        <div class="form_container login">
            <div class="form_data login">
                <h1>Войти</h1>
            </div>
            {% if messages or form.non_field_errors %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% else %}
                    {{ form.non_field_errors }}
                {% endif %}
            {% endif %}
            <div class="form_data login">
                Имя пользователя <br>
                {{ form.username }} <br>
            </div>
            <div class="form_data login">
                Пароль <br>
                {{ form.password }} <br>
            </div>
            <div class="form_data login" style="margin-top: 5vh;">
                <button type="submit" class="button">ОК</button>
                <button type="reset" class="button">Очистить</button><br>
            </div>
        </div>
    </form>
    <img src="{% static 'img/FTBgi.png' %}" alt="" class="bgi">
</div>
{% endblock %}