{% extends 'catalogue/base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'img/TitleHomePage.png' %}" rel="shortcut icon" type="image/png">
{% endblock %}

{% block body %}
<div class="mainBody">
    <form action="#" class="form_wrap">

        <div class="form_container">
            <!-- <div class="form_data">
                <h1>Создать аккаунт</h1> 
            </div> -->
            <div class="form_data">
                Имя <br>
                <input type="text" placeholder="Иван" class="input_text name"> <br>
            </div>
            <div class="form_data">
                Фамилия <br>
                <input type="text" placeholder="Иванов" class="input_text surname"> <br>
            </div>
            <div class="form_data">
                Электронная почта <br>
                <input type="email" placeholder="mail@mail.com" class="input_text email"> <br>
            </div>
            <div class="form_data">
                Имя пользователя <br>
                <input type="text" placeholder="Иван" class="input_text name"> <br>
            </div>
            <div class="form_data">
                Пол <br>
                <label><input type="radio" name="sex" class="sex" id="orange"> М</label> <br>
                <label><input type="radio" name="sex" class="sex" id="orange"> Ж</label> <br>
                <label><input type="radio" name="sex" class="sex" id="orange"> Не указано</label> <br>
            </div>
            <div class="form_data">
                Пароль <br>
                <input type="password" placeholder="Введите пароль" class="input_text password"> <br>
            </div>
            <div class="form_data">
                Подтверждение пароля <br>
                <input type="password" placeholder="Введите пароль" class="input_text password approve"> <br>
            </div>
            <div class="form_data" style="margin-top: 5vh;">
                <button type="submit" class="button">ОК</button>
                <button type="reset" class="button">Очистить</button><br>
            </div>
        </div>
    </form>
    <img src="{% static 'img/FTBgi.png' %}" alt="" class="bgi">
</div>
{% endblock %}