{% extends 'catalogue/base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'img/TitleHomePage.png' %}" rel="shortcut icon" type="image/png">
{% endblock %}

{% block body %}
<div class="mainBody">

    <form action="{% url 'users:registration' %}" class="form_wrap" method="post">
        {% csrf_token %}
        <div class="form_container">
            <div class="form_data">
                <h1>Создать аккаунт</h1> 
            </div>
            <div class="form_data">
                Имя <br>
                {{ form.first_name.errors }}
                {{ form.first_name }} <br>
            </div>
            <div class="form_data">
                Фамилия <br>
                {{ form.last_name.errors }}
                {{ form.last_name }} <br>
            </div>
            <div class="form_data">
                Электронная почта <br>
                {{ form.email.errors }}
                {{ form.email }} <br>
            </div>
            <div class="form_data">
                Имя пользователя <br>
                {{ form.username.errors }}
                {{ form.username }} <br>
            </div>
            <div class="form_data">
                Пол <br>
                {{ form.sex.errors }}
                {{ form.sex }}
            </div>
            <div class="form_data">
                Пароль <br>
                {{ form.password1.errors }}
                {{ form.password1 }} <br>
            </div>
            <div class="form_data">
                Подтверждение пароля <br>
                {{ form.password2.errors }}
                {{ form.password2 }} <br>
            </div>
            <div class="form_data" style="margin-top: 5vh;">
                <button type="submit" class="button">ОК</button>
                <button type="reset" class="button">Очистить</button><br>
            </div>
        </div>
    </form>
    <img src="{% static 'img/FTBgi.png' %}" alt="" class="bgi">
</div>
{% endblock %}