{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <style>
    <!-- @import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Nunito&display=swap'); -->
  </style>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block css %} {% endblock %}
</head>

<body>
  <div class="wrapper">
    <div class="header" id="up">
      <div class="right">
        <div class="logo" onclick="window.location.href = '{% url 'index' %}'"></div>
        <button class="pets button" onclick="window.location.href = '{% url 'catalogue:index' %}'">Ищут дом</button>
      </div>
      <div class="buttons">
        {% if user.is_authenticated %}
        <button class="favourite button"
          onclick="window.location.href = '{% url 'users:favorites' %}'">Избранные</button>
        <button class="signup button" onclick="window.location.href = '{% url 'users:logout' %}'">Выйти</button>
        {% else %}
        <button class="signin button" onclick="window.location.href = '{% url 'users:login' %}'">Войти</button>
        <button class="signup button"
          onclick="window.location.href = '{% url 'users:registration' %}'">Регистрация</button>
        {% endif %}
      </div>
    </div>

    {% block body %} {% endblock %}

  </div>
</body>

{% block content %} {% endblock %}

<footer class="footer">
  <div class="right">
    <div class="logo dark"><a href="{% url 'index' %}"></a></div>
  </div>
  <div class="up"><a href="#up">^</a></div>
  {% block footer %} {% endblock %}
</footer>

</html>