{% extends 'catalogue/base.html' %}
{% load static humanize%}

{% block css %}
<link href="{% static 'img/TitleHomePage.png' %}" rel="shortcut icon" type="image/png">
{% endblock %}

{% block body %}
<div class="mainBody catalogue">
    <svg id="openFilter" class="burger-tablet-mobile" width="40" height="30" viewBox="0 0 40 30" xmlns="http://www.w3.org/2000/svg">
        <!-- Top Line -->
        <rect x="0" y="0" width="40" height="4" fill="white" stroke="#2E4960" stroke-width="1" rx="2" ry="2"/>
        <!-- Middle Line -->
        <rect x="0" y="13" width="40" height="4" fill="white" stroke="#2E4960" stroke-width="1" rx="2" ry="2"/>
        <!-- Bottom Line -->
        <rect x="0" y="26" width="40" height="4" fill="white" stroke="#2E4960" stroke-width="1" rx="2" ry="2"/>
    </svg>
    <div class="filter" id="filter">
        {% for category in categories %}
        <a href="{% url 'catalogue:category' category.id %}" class="category-name" data-category="{{ category.name }}">
            {{ category.name }}
        </a>
        <br>
        {% endfor %}
    </div>
    <div class="cards-pages-box"> 
    <div class="cards">
        {% for animal in object_list %}
        <div class="card">
            <div class="allinfo">
                <div class="photo">
                    {% if animal.image %}
                    <img src="{{ animal.image.url }}" alt="Снежок" style="border-radius: 20px;">
                    {% else %}
                    <img src="{% static 'img/animals_pics/scottish-fold-cat-wearing-red-bow-celebrating-christmas.jpg' %}"
                        alt="Снежок" style="border-radius: 20px;">
                    {% endif %}

                </div>
                <div class="info">
                    <h3 class="name">{{ animal.name }}</h3>
                    <div class="sex"><img src="{% static 'img/FTpaw.svg' %}" alt="">{{ animal.sex }}</div>
                    <div class="age"><img src="{% static 'img/FTpaw.svg' %}" alt="">{{ animal.age }}</div>
                    <div class="character"><img src="{% static 'img/FTpaw.svg' %}" alt="">{{ animal.character }}</div>
                </div>
            </div>
            <div class="buttons pets">
                <button class="button adopt">Приютить</button>
                <button
                    class="button to_favorites"
                    onclick="window.location.href = '{% url 'catalogue:favorites_add' animal.id %}'"
                    >
                    В избранное
                </button>
            </div>
            <!-- div for details and larger image -->
            <div class="details" style="display: none;">
                <img class="largePhoto" src="" alt="Enlarged Animal" style="max-width: 100%; height: auto;">
                <div class="detailed-info">
                    <p class="fakeText">{{ animal.description }}</p>
                    <div class="buttons pets">
                        <button class="button adopt">Приютить</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        
    </div>
    {% if is_paginated %}
        <div class="pages">
            <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
                <a class="page-link"
                    href="{% if page_obj.has_previous %} {% url 'catalogue:paginator' page_obj.previous_page_number %} {% else %} # {% endif %}"
                    tabindex="-1" aria-disabled="true">
                    Предыдущая
                </a>
            </li>
            {% for page in paginator.page_range %}
            <li class="page-item">
                <a class="page-link" href="{% url 'catalogue:paginator' page %}">
                    {{ page }}
                </a>
            </li>
            {% endfor %}
            <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
                <a class="page-link"
                    href="{% if page_obj.has_next %} {% url 'catalogue:paginator' page_obj.next_page_number %} {% else %} # {% endif %}">
                    Следующая
                </a>
            </li>
        </div>
        {% endif %}
    </div>
    <img src="{% static 'img/FTBgi.png' %}" alt="" class="bgi pale">
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.card').forEach(function(card) {
            card.addEventListener('click', function() {
                let detailsDiv = this.querySelector('.details');
                let largePhoto = detailsDiv.querySelector('.largePhoto');
                let descriptionParagraph = detailsDiv.querySelector('.fakeText');
                
                // Копируем src из маленького изображения в большое
                let smallPhotoSrc = this.querySelector('.photo img').src;
                largePhoto.src = smallPhotoSrc;

                // Переключаем отображение блока с деталями
                detailsDiv.style.display = detailsDiv.style.display === 'none' ? 'flex' : 'none';

                // Убираем загрузку текста из API, используем описание животного
                // descriptionParagraph.innerHTML уже содержит {{ animal.description }}

                detailsDiv.addEventListener('click', function(event) {
                    this.style.display = 'none';
                    event.stopPropagation(); // Предотвращаем всплытие события к карточке
                });
            });
        });

        // Словарь перевода
        const translations = {
            'cat': 'Коты',
            'dog': 'Собаки',
            'bird': 'Птицы',
            'other': 'Другие животные'
        };

        // Переводим названия категорий
        document.querySelectorAll('.category-name').forEach(function(element) {
            let categoryName = element.getAttribute('data-category');
            let translatedName = translations[categoryName.toLowerCase()];

            if (translatedName) {
                element.textContent = translatedName;
            }
        });

        // Для планшетов и мобильных устройств - показываем фильтр
        let burger = document.getElementById('openFilter');
        let filter = document.getElementById('filter');
        burger.addEventListener('touchend', function(){
            burger.style.display = 'none';
            filter.style.display = 'flex';
        });
        filter.addEventListener('click', function(){
            burger.style.display = 'block';
            filter.style.display = 'none';
        });
    });
</script>

{% endblock %}

{% block content %} {% endblock %}

{% block footer %} {% endblock %}